<h5> &eacute;dition de la page : {{ page.name }} </h5>

{{ form_errors(form) }}

<form name="page" method="post">
    <div class="field">
        <label for="page_content" class="label">Content</label>
        <div class="control">
            <textarea
                    id="page_content"
                    class="textarea"
                    name="page[content]"
                    required="required"
            >{{ page.content|trim }}</textarea>
        </div>
    </div>

    {{ form_row(form._token) }}

    <div class="field">
        <div class="control">
            <button class="button is-link" type="submit">Save</button>
        </div>
    </div>
</form>

{% include 'wysiwyg.html.twig' with {'selector' : '#page_content'} %}
