{% extends 'base.html.twig' %}

{% block title %}Edit Page{% endblock %}

{% block body %}
    <nav class="breadcrumb is-centered has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="{{ path('home_page') }}">Accueil</a>
            </li>
            <li>
                <a href="{{ path('admin_tile_index') }}">Admin</a>
            </li>
            <li>
                <a href="{{ path('admin_page_index') }}">Page</a>
            </li>
            <li class="is-active">
                <a href="{{ path('admin_page_edit', {'id': page.id}) }}" aria-current="page">Edit</a>
            </li>
        </ul>
    </nav>

<div class="columns">
    <div class="column content is-medium is-half has-text-justified is-offset-one-quarter">
    {{ include('page/_form.html.twig') }}

    {{ include('page/_back_to_list.html.twig') }}
    </div>
</div>
{% endblock %}
