{% extends 'base.html.twig' %}

{% block title %}Page index{% endblock %}

{% block body %}
    <nav class="breadcrumb is-centered has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="{{ path('home_page') }}">Accueil</a>
            </li>
            <li>
                <a href="{{ path('admin_tile_index') }}">Admin</a>
            </li>
            <li class="is-active">
                <a href="{{ path('admin_page_index') }}" aria-current="page">Page</a>
            </li>
        </ul>
    </nav>

    <div class="columns">
        <div class="column content is-two-thirds has-text-justified is-offset-2">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Content</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for page in pages %}
                    <tr>
                        <td>{{ page.name }}</td>
                        <td>{{ page.content|raw }}</td>
                        <td>
                            <a href="{{ path('admin_page_edit', {'id': page.id}) }}">
                                <span class="icon is-medium">
                                    <i class="fas fa-lg fa-edit"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
