<hr/>

<form method="post" action="{{ path('admin_tile_delete', {'id': tile.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tile.id) }}">
    <div class="field">
        <div class="control">
            <button class="button is-warning">Delete</button>
        </div>
    </div>
</form>
