{{ form_errors(form) }}

<form name="tile" method="post">
    <div class="field">
        <label for="tile_title" class="label">Title</label>
        <div class="control">
            <input
                    id="tile_title"
                    class="input"
                    name="tile[title]"
                    type="text"
                    required="required"
                    value="{{ tile.title }}"
                    placeholder="Title"
            >
        </div>
    </div>

    <div class="field">
        <label for="tile_content" class="label">Content</label>
        <div class="control">
            <input
                    id="tile_content"
                    class="input"
                    name="tile[content]"
                    type="text"
                    required="required"
                    value="{{ tile.content }}"
                    placeholder="Content"
            >
        </div>
        <p class="help">Le lien de l'image ou le code embed d'un player.</p>
    </div>

    <div id="tile_caption_wrapper" class="field">
        <label for="tile_caption" class="label">Caption</label>
        <div class="control">
            <textarea
                    id="tile_caption"
                    class="textarea"
                    name="tile[caption]"
            >{{ tile.caption }}</textarea>
        </div>
        <p class="help">Pour ajouter un texte sous la vignette.</p>
    </div>

    {% if tile.type != player %}
        <div id="tile_link_wrapper" class="field">
            <label for="tile_link" class="label">Link</label>
            <div class="control">
                <input
                        id="tile_link"
                        class="input"
                        name="tile[link]"
                        type="text"
                        value="{{ tile.link }}"
                        placeholder="Link"
                >
            </div>
            <p class="help">Lien cliquable pour une image.</p>
        </div>
    {% endif %}

    <div class="field">
        <label for="tile_type" class="label">Type</label>
        <div class="control">
            <div class="select">
                <select id="tile_type" name="tile[type]" required="required">
                    <option value="image" {% if tile.type == image %} selected {% endif %}>image</option>
                    <option value="player" {% if tile.type == player %} selected {% endif %}>player</option>
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <label for="tile_page" class="label">Page</label>
        <div class="control">
            <div class="select">
                <select id="tile_page" name="tile[page]" required="required">
                    {% for page in pages %}
                        <option
                                value="{{ page.id }}"
                                {% if tile.page is not null and page.id == tile.page.id %} selected {% endif %}
                        >
                            {{ page.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <p class="help">Page qui affichera la vignette.</p>
    </div>

    <div id="tile_category_wrapper" class="field">
        <label for="tile_category" class="label">Category</label>
        <div class="control">
            <div class="select">
                <select id="tile_category" name="tile[category]">
                    {% for category in categories %}
                        <option
                                {% if category is null %}
                                    value=""
                                {% else %}
                                    value="{{ category.id }}"
                                {% endif %}

                                {% if category is null %}
                                    selected
                                {% elseif tile.category is not null and category.id == tile.category.id %}
                                    selected
                                {% endif %}
                        >
                            {% if category is not null %}
                                {{ category.name }}
                            {% endif %}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <p class="help">Categorie de filtre.</p>
    </div>

    {{ form_row(form._token) }}

    <div class="field">
        <div class="control">
            <button class="button is-link">Save</button>
        </div>
    </div>
</form>

{% include 'wysiwyg.html.twig' with {'selector': '#tile_caption'} %}
