{% extends 'base.html.twig' %}

{% block title %}Tiles index{% endblock %}

{% block body %}
    <nav class="breadcrumb is-centered has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="{{ path('home_page') }}">Accueil</a>
            </li>
            <li class="is-active">
                <a href="{{ path('admin_tile_index') }}" aria-current="page">Admin</a>
            </li>
        </ul>
    </nav>

    <div class="columns">
        <div class="column content is-two-thirds has-text-justified is-offset-2">
            <a href="{{ path('admin_tile_new') }}">
                <span class="icon is-large">
                    <i class="fas fa-2x fa-plus"></i>
                </span>
            </a>

            <a href="{{ path('admin_page_index') }}">
                <span class="icon is-large">
                    <i class="fas fa-2x fa-file"></i>
                </span>
            </a>

            <table class="table">
                <thead>
                <tr>
                    <th>Actions</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Page</th>
                    <th>Content</th>
                    <th>Link</th>
                    <th>Caption</th>
                </tr>
                </thead>
                <tbody>
                {% for tile in tiles %}
                    <tr>
                        <td>
                            <a href="{{ path('admin_tile_edit', {'id': tile.id}) }}">
                                <span class="icon is-medium">
                                    <i class="fas fa-lg fa-edit"></i>
                                </span>
                            </a>
                        </td>
                        <td>{{ tile.title }}</td>
                        <td>{{ tile.type }}</td>
                        <td>{{ tile.page.name }}</td>
                        <td>
                            {% if tile.type == image %}
                                <img src="{{ tile.content }}" alt="{{ tile.title }}">
                            {% elseif tile.type == player %}
                                <figure class="image is-16by9">
                                    {{ tile.content|raw }}
                                </figure>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ tile.link }}" target="_blank">
                                {{ tile.link }}
                            </a>
                        </td>
                        <td>{{ tile.caption|raw }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if tiles.getTotalItemCount > max_items %}
                <nav class="pagination is-medium is-centered" role="navigation" aria-label="pagination">
                    {% if previous_page > 0 %}
                        <a class="pagination-previous" href="{{ path('admin_tile_index', {page: previous_page}) }}">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    {% endif %}
                    {% if current_page * max_items < tiles.getTotalItemCount %}
                        <a class="pagination-next" href="{{ path('admin_tile_index', {page: next_page}) }}">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    {% endif %}
                </nav>
            {% endif %}
        </div>
    </div>
{% endblock %}
