{% extends 'base.html.twig' %}

{% block title %}New Tiles{% endblock %}

{% block body %}
    <nav class="breadcrumb is-centered has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="{{ path('home_page') }}">Accueil</a>
            </li>
            <li>
                <a href="{{ path('admin_tile_index') }}">Admin</a>
            </li>
            <li class="is-active">
                <a href="{{ path('admin_tile_new') }}" aria-current="page">Create</a>
            </li>
        </ul>
    </nav>

    <div class="columns">
        <div class="column content is-medium is-half has-text-justified is-offset-one-quarter">
            {{ include('tile/_form.html.twig') }}

            {{ include('tile/_back_to_list.html.twig') }}
        </div>
    </div>
{% endblock %}
