{% extends 'base.html.twig' %}

{% block title %}Tiles{% endblock %}

{% block body %}
    <h1>Tiles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tile.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_tile_index') }}">back to list</a>

    <a href="{{ path('admin_tile_edit', {'id': tile.id}) }}">edit</a>

    {{ include('tile/_delete_form.html.twig') }}
{% endblock %}
