@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");

@font-face {
  font-family: Coronette;
  src: url('../font/Coronette.ttf'),
       url('../font/Coronette.otf');
}

a {
  color: #5fa3d9 !important;
}

html, body {
  height: 100%;
  font-family: Coronette, 'Source Sans Pro', sans-serif !important;
}

footer {
  background-color: #ffffff !important;
}

.custom-link {
  color: #5fa3d9 !important;
}

.custom-link:hover {
  color: #3c698c !important;
  transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
}

.custom-link-sm {
  color: #f27387 !important;
}

.custom-link-sm:hover {
  color: #9f4c59 !important;
  transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
}

.custom-link-footer {
  color: #6ac075 !important;
}

.custom-link-footer:hover {
  color: #3b6b41 !important;
  transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
}

.header {
  margin-top: -0.25em !important;
}

.header-logo {
  margin-top: 0 !important;
}

.header-link {
  letter-spacing: 1px;
  margin-right: 1em;
  text-transform: uppercase;
}

.level:not(:last-child) {
  margin-top: 1.5rem;
}
