{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column content is-medium is-half has-text-justified is-offset-one-quarter">
            {{ content|raw }}
        </div>
    </div>

    {% include 'tiles.html.twig' with {'page': 'services_page'} %}
{% endblock %}
