<!DOCTYPE html>
<html lang=fr>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Highlife - {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('bulma') }}
        {% endblock %}
    </head>

    <body class="has-text-dark">
        <div class="columns header-logo">
            <div class="column is-full level">
                <a class="link header-link level-item" href="{{ path('home_page') }}">
                    <img id="header-logo" class="image" width="100" alt="logo">
                </a>
            </div>
        </div>
        <div class="columns header">
            <div class="column is-medium is-two-thirds is-offset-2">
                <nav class="level">
                    <p class="level-item has-text-centered is-size-5">
                        <a class="link custom-link header-link" href="{{ path('home_page') }}">
                            Artistes
                        </a>
                    </p>
                    <p class="level-item has-text-centered is-size-5">
                        <a class="link custom-link header-link" href="{{ path('about_page') }}">
                            &Agrave; propos
                        </a>
                    </p>

                    <p class="level-item has-text-centered is-size-5">
                        <a class="link custom-link header-link"
                           href="https://highlifepublishing.disco.ac/lib/3086"
                           target="_blank"
                        >
                            Musique
                        </a>
                    </p>

                    <p class="level-item has-text-centered is-size-5">
                        <a class="link custom-link header-link" href="{{ path('edition_page') }}">
                            Sync
                        </a>
                    </p>

                    <p class="level-item has-text-centered is-size-5">
                        <a class="link custom-link header-link" href="{{ path('radio_page') }}">
                            Radio
                        </a>
                    </p>

                    <p class="level-item has-text-centered is-size-5">
                        <a class="link custom-link header-link" href="{{ path('services_page') }}">
                            Studio
                        </a>
                    </p>

                    <p class="level-item has-text-centered is-size-5">
                        <a class="link custom-link header-link" href="{{ path('contact_page') }}">
                            Contact
                        </a>
                    </p>

                    <div class="level-item">
                        <a class="level-item link custom-link-sm" href="https://www.facebook.com/HighlifePub/" target="_blank">
                            <span class="icon">
                              <i class="fab fa-facebook"></i>
                            </span>
                        </a>

                        <a class="level-item link custom-link-sm" href="https://www.instagram.com/highlifepublish/" target="_blank">
                            <span class="icon">
                              <i class="fab fa-instagram"></i>
                            </span>
                        </a>

                        <a class="level-item link custom-link-sm" href="https://soundcloud.com/highliferecordings" target="_blank">
                            <span class="icon">
                              <i class="fab fa-soundcloud"></i>
                            </span>
                        </a>
                    </div>
                </nav>
            </div>
        </div>

        <hr/>

        <div class="container is-fluid">
            {% block body %}{% endblock %}
        </div>

        <br/>
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    Propuls&eacute; par <a class="custom-link-footer" href="https://symfony.com" target="_blank">Symfony</a> et
                    par <a class="custom-link-footer" href="https://bulma.io/" target="_blank">Bulma</a>
                    -
                    Cr&eacute;&eacute; par <a class="custom-link-footer" href="https://gitlab.com/Birdiz" target="_blank">Birdiz</a>
                    -
                    {% if is_granted('ROLE_ADMIN') == true %}
                        <a class="custom-link-footer" href="{{ path('admin_tile_index') }}"> Admin </a>
                        -
                        <a class="custom-link-footer" href="/logout"> Log out.</a>
                    {% else %}
                        <a class="custom-link-footer" href="/login"> Log in.</a>
                    {% endif %}
                </p>
            </div>
        </footer>

        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('bulma') }}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157162463-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-157162463-1');
        </script>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
