<div class="columns">
    <div class="column is-half is-offset-one-quarter">
        {% if categories|length > 0 %}
            <a href="{{ path('edition_page') }}" class="button">All</a>
        {% endif %}
        {% for category in categories %}
            <a href="{{ path('edition_page', {'category': category.name}) }}" class="button">{{ category.name }}</a>
        {% endfor %}
    </div>
</div>
