{% include 'categories.html.twig' %}

<div class="columns">
    <div class="column is-half is-offset-one-quarter">
        {% if tiles.getTotalItemCount > 0 %}
            {% for tile in tiles %}
                <div class="card">
                    <div class="card-image">
                        {% if tile.type == image %}
                            <figure class="image is-4by3">
                                <a class="custom-link" href="{{ tile.link }}" target="_blank">
                                    <img src="{{ tile.content }}" alt="{{ tile.title }}">
                                </a>
                            </figure>
                        {% elseif tile.type == player %}
                            <figure class="image is-16by9">
                                {{ tile.content|raw }}
                            </figure>
                        {% endif %}
                    </div>

                    {% if tile.caption is not null %}
                        <div class="card-content">
                            <div class="content">
                                {{ tile.caption|raw }}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <br/>
            {% endfor %}

            {% if tiles.getTotalItemCount > max_items %}
                <nav class="pagination is-medium is-centered" role="navigation" aria-label="pagination">
                    {% if previous_page > 0 %}
                        <a class="pagination-previous" href="{{ path(page, {page: previous_page}) }}">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    {% endif %}

                    {% if current_page * max_items < tiles.getTotalItemCount %}
                        <a class="pagination-next" href="{{ path(page, {page: next_page}) }}">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    {% endif %}
                </nav>
            {% endif %}
        {% else %}
            <p>
                Pas de r&eacute;sulats.
            </p>
        {% endif %}
    </div>
</div>
