{% block javascripts %}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '{{ selector }}',
            plugins: "link",
            toolbar: 'undo redo | styleselect | bold italic | link',
            menubar: 'edit format insert',
            default_link_target: "_blank"
        });
    </script>
{% endblock %}